
* { padding: 0; margin: 0; }
body{
    background: crimson;
}
#lineal{
    width: 100%;
    height: 100vh;
    background: crimson;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    margin-bottom: 100px;
}
.playes{
    margin: auto 0%;
}



#lineal .linealSub canvas {
     background:white;
     border: 2px solid black;
   
    }

@media (max-width:360px){
    #lineal .linealSub > canvas {
         margin: 20% 10%;
       
        }
        .playes{
            margin:  0% !important;
        }
}

